body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.App {
  text-align: center;
}

.navbar {
  background-color: hsl(0, 7%, 97%);
  padding: 10px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo {
  height: 50px; 
  fill: white;
  margin-left: -350px;
}

.navbar-links {
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
}

.navbar-links a {
  color: #0c0505;
  text-decoration: none;
  font-size: 0.9em;
  padding: 0 30px;
}

.navbar-links a:hover {
  color: #1244b1;
}

.content {
  margin-top: 80px; /* Adjust this based on the height of your navbar */
  padding: 20px;
  text-align: left;
}

.img-fluid {
  width: 7%;
  height: auto;
  border-radius: 50%;
  float: left;
  margin-right: 20px;
}

.main-image {
  width: 100%;
  height: auto;
  margin-top: 20px;
}

.Healthy {
  font-size: 20px;
  font-weight: bold;
}

.by_post_name {
  margin-top: 10px;
}

.post_user_name,
.post_p_date {
  margin: 0;
  font-size: 14px;
  color: #555;
}

.mt-4 {
  margin-top: 1.5rem !important;
}

.pos_des p {
  font-size: 16px;
  color: #121212;
  font-weight: 400;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
}
