.navbar {
  background-color: #fff; 
  padding: 10px 0;
  position: fixed;
  width: 100%;
  height: 70px;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.navbar-brand {
  color: #333; 
  font-size: 1.5em;
  font-weight: bold;
}

.navbar-links {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 800px;
  font-size: 1.7em;
}

.navbar-links a {
  color: #333; 
  text-decoration: none;
  font-size: 1em;
  padding: 0 15px;
}

.navbar-links a:hover {
  color: #000; 
}

.Healthy {
  border-radius: 4px;
  text-transform: uppercase;
  font-size: 10px;
  background: #EEE;
  font-weight: 400;
  padding: 6px 6px;
  margin-top: 15px;
}

.single_post .by_post_name .post_user_name {
  font-size: 16px;
  margin: 0;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding: 3px 0 0;
  padding-top: 3px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

p.post_p_date {
  font-size: 16px;
  margin: 0;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

.ml-auto {
  margin-right: -300px;
}

.main-header .app-download button a {
  color: #121212;
  font-size: 12px;
  font-weight: 600;
}

img, svg {
  vertical-align: middle;
}

.single_post .by_post_name .post_user_name b {
  font-weight: 700;
}

b {
  font-size: 25px;
}

